services:
  weather-alert-bot:
    container_name: weather-alert-bot
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    command: ["python", "main.py"]

